

<div class="container-fluid" style="margin-top: 150px">
    <div class="media row col-lg-12">
        <div class="media-middle col-lg-11" align="center">
            <a href="#">
                <img src="~/Content/3.movie-logos.jpg"/>
            </a>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row col-lg-12">
        <div class="col col-lg-offset-4" align="justify">
            <input class="form-control" placeholder="Username"/>
        </div>
    </div>
    <br/>
    <div class="row col-lg-12">
        <div class="col col-lg-offset-4" align="justify">
            <input class="form-control" placeholder="Password"/>
        </div>
    </div>
    <br/>
    <div class="row col-lg-12">
        <div class="col col-lg-3 col-lg-offset-4" align="justify">
            <button class="alert-info form-control"><i class="glyphicon glyphicon-pencil"> Login</i></button>
        </div>
    </div>
</div>